@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: sans-serif;
  }
}

#container{
  border-radius: 50px 50px 50px 50px;
}

img{
  width: 500px;
  border-radius: 0px 0px 50px 50px;
}